<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>performancebuilder</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>username</param-name>
    <param-value>adwegrp5</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>open@sqlgrp5</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>StartUp</display-name>
    <servlet-name>StartUp</servlet-name>
    <servlet-class>StartUp</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartUp</servlet-name>
    <url-pattern>/StartUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetQuestionServlet</display-name>
    <servlet-name>GetQuestionServlet</servlet-name>
    <servlet-class>exam.GetQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQuestionServlet</servlet-name>
    <url-pattern>/exam/GetQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileCreator</display-name>
    <servlet-name>ProfileCreator</servlet-name>
    <servlet-class>controller.ProfileCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileCreator</servlet-name>
    <url-pattern>/ProfileCreator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategory</display-name>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>controller.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewFile</display-name>
    <servlet-name>NewFile</servlet-name>
    <servlet-class>controller.NewFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewFile</servlet-name>
    <url-pattern>/NewFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumList</display-name>
    <servlet-name>ForumList</servlet-name>
    <servlet-class>controller.ForumList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumList</servlet-name>
    <url-pattern>/ForumList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartExam</display-name>
    <servlet-name>StartExam</servlet-name>
    <servlet-class>exam.StartExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartExam</servlet-name>
    <url-pattern>/exam/StartExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetAnswerServlet</display-name>
    <servlet-name>SetAnswerServlet</servlet-name>
    <servlet-class>exam.SetAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAnswerServlet</servlet-name>
    <url-pattern>/exam/SetAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EndExamServlet</display-name>
    <servlet-name>EndExamServlet</servlet-name>
    <servlet-class>exam.EndExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EndExamServlet</servlet-name>
    <url-pattern>/exam/EndExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxPost</display-name>
    <servlet-name>AjaxPost</servlet-name>
    <servlet-class>controller.AjaxPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxPost</servlet-name>
    <url-pattern>/AjaxPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveComment</display-name>
    <servlet-name>SaveComment</servlet-name>
    <servlet-class>controller.SaveComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveComment</servlet-name>
    <url-pattern>/SaveComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentView</display-name>
    <servlet-name>CommentView</servlet-name>
    <servlet-class>controller.CommentView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentView</servlet-name>
    <url-pattern>/CommentView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavePost</display-name>
    <servlet-name>SavePost</servlet-name>
    <servlet-class>controller.SavePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavePost</servlet-name>
    <url-pattern>/SavePost</url-pattern>
  </servlet-mapping>
</web-app>